* {
    margin: 0;
    padding: 0;
}

/* 共通 */

html {
    font-size: 62.5%;
    height: 100%;
}
body {
    background-color: white;
    height: 100%;
    margin: auto;
}
.large-text{
    font-size: 300%;
    color: black;
    text-align: center;
}
.medium-text{
    font-size: 250%;
    color: black;
}
.small-text{
    font-size: 200%;
    color: black;
}
.theta-text{
    color: goldenrod;
}
.headline{
    border-top: double 4px darkgoldenrod;
    border-bottom: double 4px darkgoldenrod;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 10px auto;
    position: relative;
    padding: 0.25em 0.5em;
    text-decoration: none;
    background: lightcoral;
    border: groove 8px goldenrod;
    border-radius: 8px;
    font-weight: bold;
    font-size: 200%;
    color: white;
}
.btn:hover{
    top: -4px;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.3);
}
.btn:active{
    top: 3px;
    box-shadow: none;
}
.horizontal-btn{
    display: flex;
}
.horizontal-margin{
    flex-basis: 20%;
}
.border-line{
    margin: 30px auto;
}

/* ヘッダー */

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
}
.header-text {
    font-size: 450%;
    color: white;
}

/* ナビゲーション */

.navigation {
    display: flex;
}
.nav-list {
    flex: 1;
    list-style: none;
    text-align: center;
    font-size: 200%;
    color: white;
    background: gray;
    cursor: pointer;
    position: relative;
}
.nav-list::after {
    content: "";
    position: absolute;
    border-right: 1px solid white;
    width: 1px;
    height: 70%;
    top: 15%;
    right: 0;
}
.nav-list a {
    display: block;
}
.nav-list a:hover {
    opacity: 1.0;
    background: deepskyblue;
}
.tab-body {
    margin: 50px 0;
}
.tab-overview {
    text-align: center;
}
.tab-text {
    color: black;
    font-size: 400%;
    margin-bottom: 10px;
}

/* 更新履歴 */

.history {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}
.history-item-container {
    border-top: solid 1px grey;
    border-left: solid 1px grey;
    border-right: solid 1px grey;
}
.history-item {
    display: flex;
    border-bottom: solid 1px grey;
}
.history-time-text {
    flex-basis: 20%;
    text-align: center;
}
.history-info-text {
    flex-basis: 80%;
    border-left: solid 1px grey;
}

/* プロフィール */

.profile{
    width: 90%;
    margin: auto;
}
.profile-section {
    margin-top: 100px;
}
.profile-sub-section{
    margin: 0 0 10px 0;
}

/* コンテンツ */

.content{
    width: 90%;
    margin: auto;
}
.content-section {
    margin-top: 100px;
}
.content-sub-section{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-content-image{
    width: 60%;
    border: solid 4px darkorange;
    border-radius: 4px;
}
.game-content-title-text{
    margin: 10px 0;
    width: 60%;
    text-align: center;
    border-left: solid 4px darkorange;
    border-right: solid 4px darkorange;
    background: lightgoldenrodyellow;
}
.game-content-info-text{
    text-align: left;
    width: 60%;
    margin: auto;
}

/* フッター */

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    background: gray;
}
.footer-text {
    color: white;
    font-size: 150%;
}
